.Receiving {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    &-header {
        border-bottom: 1px solid #ccc;
        h2 {
            font-size: 24px;
        }
    }
    &-container {
        &-form {
            .input-group {
                &-prepend {
                    .input-group-text {
                        @media screen and (max-width: 600px) {
                            padding: 0 8px;
                        }
                    }
                }
            }
        }
        .title {
            font-size: 14px;
            margin-bottom: 8px;
            text-align: center;
        }
        .amount {
            border: 1px solid #ddd;
            padding: .375rem;
            white-space: nowrap;
            overflow-x: hidden;
            border-radius: .25rem;
            color: white;
            text-align: right;
            &::before {
                content: '$ ';
            }
            &.bss {
                &::before {
                    content: '';
                }
            }
        }
        
    }
}