<div class="url">
  <button *ngIf="!baseUrl" (click)="getUrl()" class="btn btn-sm btn-secondary" title="Generar enlace">
      <i class="fas fa-link"></i>
  </button>
  <button *ngIf="baseUrl" (click)="copyUrl()" ngxClipboard [cbContent]="baseUrl" class="btn btn-sm btn-primary" title="Copiar enlace {{baseUrl}}">
      <i class="fas fa-link"></i>
  </button>
</div>