.Fees {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
    &-form {
        justify-content: center;
        max-width: 200px;

        &-title {
            flex: 1 0 100%;
            font-size: 0.9em;
        }
        &-input {
            flex: 0 1 49%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &-item {
                flex: 1 1 50%;
            }
        }
    }
}