<div *ngIf="isLoading" class="loading mt-2 pt-1">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
</div>
<div *ngIf="!isLoading" class="Fees mt-2 pt-1">
    <div class="Fees-form mt-1 mr-1">
        <div class="Fees-form-title w100 text-center">Comisiones PayPal (% + ${{fixed}}):</div>
        <div class="Fees-form-input">
            <div class="Fees-form-input-item input-group mb-2">
                <input onClick="this.select()" (keyup)="changePercent($event)" (change)="changePercent($event)" inputmode="numeric" pattern="[0-9]*" value="{{percent}}" type="number" step="0.1" min="1" class="form-control font-weight-bold text-right" id="paypalPercent">
                <div class="input-group-append">
                    <div class="input-group-text">%</div>
                </div>
            </div>
            <div class="Fees-form-input-item input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input disabled value="{{fixed}}" type="number" min="0.3" step="0.1" class="disabled form-control text-right" id="paypalFixed">
            </div>
        </div>
    </div>
    <div class="Fees-form mt-1 mr-1">
        <div class="Fees-form-title w100 text-center">Tasa del dólar (DolarToday)</div>
        <div class="Fees-form-input input-group mb-2">
            <input onClick="this.select()" (keyup)="changeDollar($event)" (change)="changeDollar($event)" inputmode="numeric" pattern="[0-9]*" value="{{dollar}}" type="number" step="0.1" min="1" class="form-control font-weight-bold text-right" id="dollarRate">
            <div class="input-group-append">
                <div class="input-group-text">BsS/$</div>
            </div>
        </div>
    </div>
</div>