<div class="Sending shadow-sm">
    <header class="Sending-header">
        <h2>{{sectionTitle}}</h2>
        <app-url (showMessage)="showMessage($event)" [dollar]="dollar" [fee]="paypalPercent" [amount]="sent"></app-url>
    </header>
    <article class="Sending-container">
        <div class="row mt-2">
            <div class="col-6 col-sm-3">
                <div class="form-group">
                    <label class="text-center title d-block font-weight-bold" for="moneySent">Si envía</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text px-1">$</span>
                        </div>
                        <input onClick="this.select()" value="{{sent}}" type="number" min="1" step="0.01" inputmode="numeric" pattern="[0-9]*" class="form-control font-weight-bold text-right" id="moneySent" (keyup)="calcSendingFromSent($event); calcBsFromSent($event)" (change)="calcSendingFromSent($event); calcBsFromSent($event)">
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3 fee">
                <div class="title font-weight-bold">La comisión es</div>
                <div class="amount bg-primary" title="$ {{fee}}">{{fee}}</div>
            </div>
            <div class="col-6 col-sm-3 received">
                <div class="title font-weight-bold">Se reciben</div>
                <div class="amount bg-success" title="$ {{total}}">{{total}}</div>
            </div>
            <div class="col-6 col-sm-3 earn">
                <div class="title font-weight-bold">Conversión (BsS)</div>
                <div class="amount bss bg-secondary" title="BsS. {{totalBs}}">
                    {{totalBs}}
                </div>
            </div>
        </div>
    </article>
    
    <app-fees (newPercent)="calcSendingFromFee($event); calcBsFromFee($event)" (newDollar)="calcBsFromDollar($event)"></app-fees>
</div>