.navbar {
    &-brand {
        font-size: 1rem;
        display: flex;
        align-items: center;
    }
    &-toggler {
        padding: 0 !important;
        border: 0 !important;
    }
    &.fixed-bottom {
        font-size: 0.9em;
    }
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 600px;
    .half {
        display: flex;
        padding: 10px;
        flex-direction: column;
    }
    .visits {
        display: flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
        span {
            padding: 5px 10px;
            border-radius: 3px;
            background: lighten(blue, 15%);
            color: white;
            font-size: 0.9em;
        }
    }
    @media screen and (max-width: 600px) {
        .app-receiving {
            padding-bottom: 64px;
        }
    }
}