<nav class="navbar navbar-light navbar-expand-sm fixed-top bg-primary shadow-sm">
    <a class="navbar-brand text-white" href="#">
        <img src="assets/favicon.png" width="30" height="30" class="mr-1 d-inline-block align-top" alt=""> {{appTitle}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a role="button" data-toggle="modal" data-target="#myModal" class="nav-link text-light" href="#">Acerca de</a>
            </li>
        </ul>
    </div>
</nav>
<div class="app">
    <app-message *ngIf="showAlert" [message]="msg"></app-message>
    <app-sending  class="app-sending half" (throwMessage)="showMessage($event)"></app-sending>
    <app-receiving class="app-receiving half"></app-receiving>
    <div class="visits">
        <span>Visitas totales: {{visits}}</span>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Acerca de {{appTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                Desarrollado por: <a href="https://loo.com.ve" target="_blank">Luis Suárez</a>
                <br> Versión: 2.1.1<br> Tecnologías: Angular 7 - Bootstrap 4
                <br> Descripción: Aplicación destinada al cálculo de comisiones de la plataforma PayPal.
                <div class="donate mt-3 text-center">
                    <a href="https://paypal.me/luissuarezm" target="_blank" class="btn btn-lg btn-primary"><i class="fab fa-paypal"></i> Donar</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar fixed-bottom navbar-light bg-dark p-1 justify-content-center">
    <div class="text-light text-center d-block">Desarrollado por <a href="https://loo.com.ve" class="font-weight-bold text-white" target="_blank">Luis Suárez</a> - 2018 - Todos los derechos reservados.</div>
</nav>

<router-outlet></router-outlet>