/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Questrial|Raleway');
html,
{
    height: 100%;
}

body {
    padding: 10px;
    padding-top: 66px;
    padding-bottom: 36px;
    background: #eee !important;
    justify-content: center;
    display: flex;
    font-family: 'Raleway', sans-serif !important;
    app-root {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        input,
        .amount {
            font-family: 'Questrial', sans-serif;
        }
    }
    @media screen and (max-width: 500px) {
        padding: 0px;
        padding-top: 56px;
    }
}